<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta charset="UTF-8">
    <title>GDAX</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/aria-accordion.css" rel="stylesheet" type="text/css" />
    <link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style_fill.css" rel="stylesheet" type="text/css" />

</head>

<body ng-app="miropayApp">


    <div ng-controller="fillCtrl" class="gd_outer">





        <div class="gd_head">
            <div class="gd_wrap">
                <div class="hd_lft_wrap">
                    <div class="lft_wrp_1" ng-hide="data.position_view">
                        <div class="pr_nm">Product :</div>
                        <div class="prd_all_wrp">
                            <div class="prd_dt"></div>
                            <div class="prd_st">ETH-USD</div>

                            <ul class="prd_optns">
                                <li class="options" ng-click="productOnChange('ETH-USD')">ETH-USD</li>
                                <li class="options" ng-click="productOnChange('BTC-USD')">BTC-USD</li>
                                <li class="options" ng-click="productOnChange('LTC-USD')">LTC-USD</li>
                            </ul>
                            <div class="prd_all_bt">
                                <img src="img/down-arrow_white.png">
                            </div>
                        </div>
                    </div>

                    <div class="lft_wrp_1 lft_2" ng-hide="data.position_view">
                        <div class="pr_nm">Status :</div>
                        <div class="prd_all_wrp prd_wrp_2">
                            <div class="prd_dt"></div>
                            <div class="prd_st">All</div>

                            <ul class="prd_optns" ng-if="data.fill_view">
                                <!--<li class="options" ng-click=>Transfer In</li>
                                <li class="options">Transfer Out</li>-->
                                <li class="options" ng-click="sideOnChange('buy')">Buy</li>
                                <li class="options" ng-click="sideOnChange('sell')">Sell</li>
                                <li class="options" ng-click="sideOnChange('all')">All</li>
                            </ul>

                            <ul class="prd_optns" ng-if="data.transfer_view">
                                <!--<li class="options" ng-click=>Transfer In</li>
                                <li class="options">Transfer Out</li>-->
                                <li class="options" ng-click="trnsfrTypeOnChange('deposit')">Deposit</li>
                                <li class="options" ng-click="trnsfrTypeOnChange('withdraw')">Withdraw</li>
                                <li class="options" ng-click="trnsfrTypeOnChange('all')">All</li>
                            </ul>
                            <div class="prd_all_bt">
                                <img src="img/down-arrow_white.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hd_rght_wrap">
                    <div class="lft_wrp_1 lft_2">
                        <div class="pr_nm" ng-if="data.fill_view || data.transfer_view">Date(Start) :</div>
                        <div class="pr_nm" ng-if="data.position_view">Date :</div>
                        <div class="dtpckr_wrp">
                            <input type="text" class="datepicker-here_bot" airdatepicker placeholder="Select" ng-change="filterByStrtDate()" ng-model="data.filterStartDate"
                                data-language="en" readonly data-language="en">
                        </div>
                    </div>
                    <div class="lft_wrp_1" ng-hide="data.position_view">
                        <div class="pr_nm">Date(End) :</div>
                        <div class="dtpckr_wrp">
                            <input type="text" class="datepicker-here_bot" airdatepicker placeholder="Select" ng-change="filterByEndDate()" ng-model="data.filterEndDate"
                                data-language="en" readonly data-language="en">
                        </div>
                    </div>
                </div>

                <div style="clear: both;"></div>
            </div>
            <div class="resp_btn">
                <div class="resp_filt">
                    <div class="filt_ico">
                        <img src="img/filter.png">
                    </div>
                    Filter
                </div>
                <div class="resp_disp">
                    <div class="filt_ico">
                        <img src="img/down-arrow_white.png">
                    </div>
                    Display
                </div>

                <div class="display_filt">
                    <div class="filt_row">
                        <div class="filt_chck">
                        </div>
                        SIZE
                    </div>
                    <div class="filt_row">
                        <div class="filt_chck">
                        </div>
                        FEE
                    </div>
                    <div class="filt_row">
                        <div class="filt_chck">
                        </div>
                        PRICE
                    </div>
                    <div class="filt_row">
                        <div class="filt_chck">
                        </div>
                        TOTAL
                    </div>
                    <div class="filt_row">
                        <div class="filt_chck">
                        </div>
                        PROFIT/LOSS
                    </div>
                    <div class="filt_row">
                        <div class="filt_chck">
                        </div>
                        CREATED
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="gd_tab_menu">
                <ul>
                    <li ng-click="tabViewFills();">Fills</li>
                    <li ng-click="tabViewTrnsfr();">Transfers</li>
                    <li ng-click="tabViewPosition();">Position</li>
                    <li class="rght_li" ng-if="data.fill_view">
                        <div class="legends">
                            <div class="leg_buy">
                            </div>
                            Buy
                        </div>
                        <div class="legends">
                            <div class="leg_sell">
                            </div>
                            Sell
                        </div>
                    </li>
                    <li class="rght_li" ng-if="data.transfer_view">
                        <div class="legends">
                            <div class="leg_buy">
                            </div>
                            Deposit
                        </div>
                        <div class="legends">
                            <div class="leg_sell">
                            </div>
                            Withdraw
                        </div>
                    </li>
                    <div style="clear: both"></div>
                </ul>
            </div>

        </div>



        <div ng-show="data.fill_view">
            <div class="tbl_wrp">
                <div class="tbl_out">
                    <div class="gd_sb_head">
                        <div class="sb_hd_wrp">
                            <div class="sb_hd">
                                ORDER ID

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                SIZE

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                PRICE

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                FEE

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                TOTAL

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                Effective Price

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                Created Date

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sb_cn_wrp">

                        <div class="transfer_view" ng-if="data.transfer_view">
                            <div class="sb_hd">
                                <div class="sb_lft_line_buy"></div>
                                Transfer-Test
                            </div>
                            <div class="sb_hd">
                                3872
                            </div>
                            <div class="sb_hd">
                                000000
                            </div>
                            <div class="sb_hd">
                                000000
                            </div>
                            <div class="sb_hd">
                                000000
                            </div>
                            <div class="sb_hd">
                                000000
                            </div>
                            <div class="sb_hd">
                                000000
                            </div>
                        </div>

                        <div class="mob_cards">
                            <div class="mob_card_wrap">
                                <div class="clos_mob" ng-click="closeMobCards();">
                                    <img src="img/close.png">
                                </div>
                                <div class="wht_wrp">
                                    <div ng-class="{card_blck_head_sell: mobView.details[0].side =='sell', card_blck_head_buy:  mobView.details[0].side =='buy'}">
                                        {{mobView.name}}
                                    </div>

                                    <div class="in_block_table">
                                        <table>
                                            <tr class="tr_tab">
                                                <th>SIZE</th>
                                                <th>PRICE</th>
                                                <th>TOTAL</th>
                                            </tr>
                                            <tr>
                                                <td> {{ mobView.details | sumByColumn: 'size' | number: 4 }}</td>
                                                <td> {{ mobView.details | sumProductColumn:'size':'price' | number: 4}}</td>
                                                <td> {{ (((mobView.details | sumProductColumn:'size':'price') * ( mobView.details | sumByColumn:
                                                    'size')) - (mobView.details | sumByColumn: 'fee' )) | number: 4 }}</td>
                                            </tr>

                                        </table>

                                        <table>
                                            <tr class="tr_tab">
                                                <th>FEE</th>
                                                <th>EFFECTIVE PRICE</th>
                                                <th>CREATED DATE</th>
                                            </tr>
                                            <tr>
                                                <td> {{ mobView.details | sumByColumn: 'fee' | number: 4}}</td>
                                                <td> {{ ((((mobView.details | sumProductColumn:'size':'price') * ( mobView.details
                                                    | sumByColumn: 'size')) + (mobView.details | sumByColumn: 'fee' )) /
                                                    ( mobView.details | sumByColumn: 'size'))| number: 4 }}</td>
                                                <td> {{ mobView.details[0].created_at_unix * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>

                                <div class="ash_wrp">
                                    <div class="ash_wrp_tbl">
                                        <table class="ash_tab">
                                            <tr class="tr_tab">
                                                <th></th>
                                                <th>SIZE</th>
                                                <th>PRICE</th>
                                                <th>FEE</th>
                                            </tr>
                                            <tr ng-repeat="data in mobView.details">
                                                <td class="ash_thead">{{data.product_id}}</td>
                                                <td>{{data.size | number: 4}}</td>
                                                <td>{{data.price | number: 4}}</td>
                                                <td>{{data.fee | number: 4}}</td>
                                            </tr>



                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <accordion>
                            <accordion-group is-open="session.isOpen" ng-click="isopen=!isopen;mobViewOpen(sumFilter(item,'size'),sumProductFilter(item,'size','price'),name,item)" ng-repeat="(name,item) in data.fills">

                                <accordion-heading>

                                    <div class="sb_hd">
                                        <div ng-class="{sb_lft_line_sell: item[0].side =='sell', sb_lft_line_buy:  item[0].side =='buy'}"></div>
                                        {{name}}
                                    </div>
                                    <div class="sb_hd">
                                        {{ item | sumByColumn: 'size' | number: 4 }}
                                    </div>
                                    <div class="sb_hd">
                                        {{ item | sumProductColumn:'size':'price' | number: 4}}
                                    </div>
                                    <div class="sb_hd">
                                        {{ item | sumByColumn: 'fee' | number: 4}}
                                    </div>
                                    <div class="sb_hd" ng-if="item[0].side =='sell'">
                                        {{ (((item | sumProductColumn:'size':'price') * ( item | sumByColumn: 'size')) - (item | sumByColumn: 'fee' )) | number:
                                        4 }}
                                    </div>
                                    <div class="sb_hd" ng-if="item[0].side =='buy'">
                                        {{ (((item | sumProductColumn:'size':'price') * ( item | sumByColumn: 'size')) + (item | sumByColumn: 'fee' )) | number:
                                        4 }}
                                    </div>
                                    <div class="sb_hd" ng-if="item[0].side =='sell'">
                                        {{ ((((item | sumProductColumn:'size':'price') * ( item | sumByColumn: 'size')) - (item | sumByColumn: 'fee' ))/ ( item |
                                        sumByColumn: 'size'))| number: 4 }}
                                    </div>
                                    <div class="sb_hd" ng-if="item[0].side =='buy'">
                                        {{ ((((item | sumProductColumn:'size':'price') * ( item | sumByColumn: 'size')) + (item | sumByColumn: 'fee' )) / ( item
                                        | sumByColumn: 'size'))| number: 4 }}
                                    </div>
                                    <div class="sb_hd">
                                        {{ item[0].created_at_unix * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </div>
                                </accordion-heading>

                                <div class="">
                                    <ul class="list-group">
                                        <dl class="dl-horizontal list-group-item" ng-repeat="data in item">
                                            <div class="tog_row">
                                                <div class="sb_hd">
                                                    <span>{{data.product_id}}</span>
                                                </div>
                                                <div class="sb_hd">
                                                    <span>{{data.size | number: 4}}</span>
                                                </div>
                                                <div class="sb_hd">
                                                    <span>{{data.price | number: 4}}</span>
                                                </div>
                                                <div class="sb_hd">
                                                    <span>{{data.fee | number: 4}}</span>
                                                </div>
                                                <div class="sb_hd">
                                                    <span></span>
                                                </div>
                                                <div class="sb_hd">
                                                    <span></span>
                                                </div>
                                                <div class="sb_hd">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </dl>


                                    </ul>

                                </div>
                            </accordion-group>
                        </accordion>
                        <!--<section class="accordion-group" id="accordion-group-1">
                        <div class="accordion-group__accordion" >
                            <header class="accordion-group__accordion-head">
                                <div class="accordion-group__accordion-heading accordion-group__accordion-btn" >
                                    <div class="sb_hd">
                                        {{name}}
                                    </div>
                                    <div class="sb_hd">
                                       {{ item | sumByColumn: 'size' }}
                                    </div>
                                    <div class="sb_hd">
                                       {{ item | sumByColumn: 'price' }}
                                    </div>
                                    <div class="sb_hd">
                                       {{ item | sumByColumn: 'fee' }}
                                    </div>
                                    <div class="sb_hd">
                                        4562351
                                    </div>
                                    <div class="sb_hd">
                                        1234
                                    </div>
                                </div>
                            </header>
                            <div class="accordion-group__accordion-collapse">
                                <div class="accordion-group__accordion-content">
                                    <div class="tog_row"  ng-repeat="data in item">
                                        <div class="sb_hd">
                                            <span>{{data.product_id}}</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>{{data.size}}</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>{{data.price}}</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>{{data.fee}}</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span></span>
                                        </div>
                                        <div class="sb_hd">
                                            <span></span>
                                        </div>
                                    </div>-->
                        <!--<div class="tog_row">
                                        <div class="sb_hd">
                                            <span>BIT COIN</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>300</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2014</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>4150</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2012</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2098</span>
                                        </div>
                                    </div>
                                    <div class="tog_row">
                                        <div class="sb_hd">
                                            <span>BIT COIN</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>300</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2014</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>4150</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2012</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2098</span>
                                        </div>
                                    </div>
                                    <div class="tog_row">
                                        <div class="sb_hd">
                                            <span>BIT COIN</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>300</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2014</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>4150</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2012</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2098</span>
                                        </div>
                                    </div>
                                    <div class="tog_row">
                                        <div class="sb_hd">
                                            <span>BIT COIN</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>300</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2014</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>4150</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2012</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2098</span>
                                        </div>
                                    </div>
                                    <div class="tog_row">
                                        <div class="sb_hd">
                                            <span>BIT COIN</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>300</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2014</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>4150</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2012</span>
                                        </div>
                                        <div class="sb_hd">
                                            <span>2098</span>
                                        </div>
                                    </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="data.transfer_view">
            <div class="tbl_wrp">
                <div class="tbl_out">
                    <div class="gd_sb_head">
                        <div class="sb_hd_wrp">
                            <div class="sb_hd">
                                Transfer ID

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                Amount

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                Balance

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                Type

                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                            <div class="sb_hd">
                                CREATED DATE
                                <div class="tog_arrow">
                                    <img src="img/down-arrow.png">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sb_cn_wrp">
                        <div class="transfer_view" ng-repeat="item in data.transfers">
                            <div class="sb_hd">
                                <div ng-class="{sb_lft_line_sell: item.details.transfer_type =='withdraw', sb_lft_line_buy:  item.details.transfer_type =='deposit'}"></div>
                                {{item.details.transfer_id}}
                            </div>
                            <div class="sb_hd">
                                {{item.amount | number: 4}}
                            </div>
                            <div class="sb_hd">
                                {{item.balance | number: 4 }}
                            </div>
                            <div class="sb_hd">
                                {{item.details.transfer_type}}
                            </div>
                            <div class="sb_hd">
                                {{item.created_at_unix * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div ng-show="data.position_view">
            <div class="position_wrap">
                <!--<div ng-if="data.selProduct=='ETH-USD'">
                    <div class="eth_wrap"><span class="eth_head">ETH</span><br>{{data.positionDetails.reqCurr.balance}}</div>

                    <div class="eth_wrap"><span class="eth_head">USD</span><br>{{data.positionDetails.USD.balance}}</div>
                </div>
                <div ng-if="data.selProduct=='BTC-USD'">
                    <div class="eth_wrap"><span class="eth_head">BTC</span><br>{{data.positionDetails.reqCurr.balance}}</div>
                    <div class="eth_wrap"><span class="eth_head">USD</span><br>{{data.positionDetails.USD.balance}}</div>
                </div>-->

                  <div >
                    <div class="eth_wrap"><span class="eth_head">ETH</span><br>300</div>

                    <div class="eth_wrap"><span class="eth_head">USD</span><br>500</div>
                </div>
                <div ng-if="data.selProduct=='BTC-USD'">
                


            </div>
        </div>

    </div>
    </div>
    </div>

    <script type="text/javascript" src="lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="lib/moment.js"></script>
    <script type="text/javascript" src="lib/aria-accordion.js"></script>
    <script type="text/javascript" src="lib/datepicker.min.js"></script>
    <script type="text/javascript" src="lib/datepicker.en.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="fill.js"></script>

    <script>
    </script>

</body>

</html>