.form_part::-webkit-scrollbar {
    width: 3px;
}

.form_part::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
}

.form_part::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: rgb(15, 117, 188);
}

.form_part::-webkit-scrollbar-thumb:window-inactive {
    background-color: #ccc
}
.form_part {
    width: 403px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
}
.bg_part
{
    width: calc(100% - 403px);
    display: inline-block;
    vertical-align: top;
    background-image: url("../img/sign_in.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100%;
    margin-left: -3px;
}
.bg_part_sign
{
    width: calc(100% - 403px);
    display: inline-block;
    vertical-align: top;
    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100%;
    margin-left: -3px;
}
.logo {
    width: 68%;
    margin: 25% auto;
    height: 40px;
    /*background-image: url(../img/gDax_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;*/
}
.logo h1 {
    color: #0f75bc;
    font-family: 'Lato', sans-serif;
    position: relative;
    letter-spacing: 2px;
}
.logo h1:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #0f75bc;
    left: 0;
    bottom: 0;
}
.logo h1:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: #0f75bc;
    left: 0;
    bottom: -23px;
}
form {
    width: 68%;
    margin: 0 auto;
}
.form_field.log_in {
    width: 100%;
    display: block;
    padding: 7% 0;
}
.log_btn
{
    display: inline-block;
    vertical-align: top;
    float: right;
}
input[type='submit'].input_field {
    display: inline-block;
    width: 100px;
    padding: 15% 10%;
    background-color: #0f75bc;
    border-radius: 3px;
    margin-top: -5px;
}
.forgt_pass.inline {
    color: #666;
    vertical-align: -webkit-baseline-middle;
}
.not_user {
    display: block;
    width: 75%;
    padding: 6% 0;
    margin: 19% auto;
    text-align: center;
    border-top: 1px dashed #666;
}
input.input_field {
    padding: 2% 3% 2% 14%;
    font-size: 13px;
    height: 45px;
}
.form_field
{
    position: relative;
}
.form_field.api_key:before {
    content: '';
    width: 20px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/key.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 9px;
}
.form_field.purchase:before {
    content: '';
    width: 22px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/id-card.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 8px;
}
a
{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.not_user p a {
    color: #0f75bc;
}
/* sign in styles [start]*/
.logo_sign_up {
    width: 68%;
    margin: 10% auto;
    height: 40px;
    /*background-image: url(../img/gDax_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;*/
    font-family: 'Lato', sans-serif;
}
.logo_sign_up h1 {
    color: #0f75bc;
    font-family: 'Lato', sans-serif;
    position: relative;
    letter-spacing: 2px;
}
.logo_sign_up h1:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #0f75bc;
    left: 0;
    bottom: 0;
}
.logo_sign_up h1:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: #0f75bc;
    left: 0;
    bottom: -23px;
}
.not_user.sign {
    display: block;
    width: 75%;
    padding: 2% 0;
    margin: 3% auto;
    text-align: center;
    border-top: 1px dashed #666;
}
.form_field.password:before {
    content: '';
    width: 22px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/id-card.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 8px;
}
.form_field.conf_password:before {
    content: '';
    width: 17px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/locked.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 11px;
}
.form_field.sign_in {
    width: 100%;
    display: block;
    padding: 7% 0;
    text-align: center;
}
.sign_in .log_btn
{
    float: none;
}
.log_btn .input_field {
    border: 1px solid #0f75bc;
}
.log_btn .input_field:hover {
    background: rgba(15, 117, 188, 0.8);
    border: 1px solid #09609c;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.forgt_pass a:hover {
    color: #0f75bc;
}
@media only screen and (max-width: 550px){
    .form_part {
        width: 100%;
        margin: 0 auto;
    }
    .bg_part
    {
        display: none;
    }
    .bg_part_sign
    {
        display: none;
    }
    .not_user {
        margin: 10% auto;
    }
    .form_part.form_log {
        overflow: hidden;
    }
    .logo {
        margin: 15% auto;
    }
}
@media only screen and (max-width: 375px){
    form {
        width: 80%;
        margin: 0 auto;
    }
}