@font-face {
    font-family: Montserrat-Regular;
    src: url(../font/Montserrat-Regular.ttf);
}
body
{
    margin: 0;
    /*height:100%;*/
    font-family: Montserrat-Regular;
}
html
{
    /*height: 100%;*/
}
img
{
    width: 100%;
}
.gd_outer {
    /*height: 100%;*/
}
.gd_head
{
    background-color: #3e4e56;
}
.gd_wrap
{
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 80%;
}
.gd_sb_head
{
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 3px 1px 29px 1px rgba(133, 133, 133, 0.32);
    margin-bottom: 25px;
}
.sb_hd_wrp
{
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    color: #858585;
}
.sb_hd
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 13px;
}

.sb_hd:nth-child(1)
{
    width: 27%;
    padding-left: 3%;
}
.sb_hd:nth-child(2)
{
    width: 11.6%;
}
.sb_hd:nth-child(3)
{
    width: 11.5%;
}
.sb_hd:nth-child(4)
{
    width: 11.7%;
}
.sb_hd:nth-child(5)
{
    width: 12.5%;
}
.sb_hd:nth-child(6)
{
    width: 11%;
}
.sb_hd:nth-child(7)
{
    width: 12%;
}


.sb_cn_wrp
{
    /*width: 80%;*/
    /*margin: 0 auto;*/
}
.accordion-group__accordion-heading
{
    padding-top: 7px;
    padding-bottom: 11px;
    font-size: 13px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.15);
    position: relative;
}
.accordion-group__accordion-heading:before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 3px;
    background-color: red;
    top: 0;
}

.accordion-group__accordion_expanded .accordion-group__accordion-head .accordion-group__accordion-heading
{
    border-bottom: 1px solid rgba(158, 158, 158, 0);
}
.accordion-group__accordion-content
{
    width: 80%;
    margin: 0 auto;
}
.tog_row .sb_hd {
    border-left: 1px solid #e0e0e0;
    padding-top: 3px;
    padding-bottom: 4px;
    line-height: 15px;
}
.tog_row .sb_hd:nth-child(1) {
    width: 22%;
    margin-left: 3.5%;
    padding-left: 0%;
}
.tog_row .sb_hd:nth-child(2) {
    width: 12.7%;
}
.tog_row .sb_hd:nth-child(5) {
    width: 12.7%;
}
.tog_row .sb_hd span
{
    font-size: 12px;
    color: #858585;
    padding-left: 10px;
}
.accordion-group__accordion_expanded
{
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lft_wrp_1
{
    display: inline-block;
}
.pr_nm
{
    display: inline-block;
    font-size: 13px;
    color: #cfcdcd;
    vertical-align: middle;
    margin-right: 5px;
}
.product_opt_wrap
{
    display: inline-block;
}
.prd_all_wrp
{
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    background-color: #656d70;
    width: 90px;
    padding: 5px 0px 5px 14px;
    border-radius: 15px;
    color: white;
    position: relative;
    cursor: pointer;
}
.prd_all_bt
{
    height: 15px;
    width: 15px;
    position: absolute;
    right: -25px;
    top: 6px;
}
.lft_2
{
    margin-left: 50px;
}

.prd_st
{
    display: inline-block;
    vertical-align: middle;
}
.tog_arrow
{
    position: absolute;
    width: 12px;
    top: -2px;
    right: 50%;
    cursor: pointer;
    transition: all ease 0.5s;
    -webkit-transition:all ease 0.5s ;
    -moz-transition:all ease 0.5s ;
    -o-transition:all ease 0.5s ;
}
.tog_arrow.tog
{
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg) ;
    -moz-transform:rotate(180deg) ;
    -o-transform:rotate(180deg) ;

    transition: all ease 0.5s;
    -webkit-transition:all ease 0.5s ;
    -moz-transition:all ease 0.5s ;
    -o-transition:all ease 0.5s
}
.prd_dt
{
    display: inline-block;
    vertical-align: middle;
    height: 5px;
    width: 5px;
    background-color: #3e4e56;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}
.prd_optns {
    position: absolute;
    width: 100%;
    background-color: #656d70;
    left: 0;
    top: 29px;
    color: white;
    z-index: 2;
    padding: 8%;
    display: none;
    list-style: none;
    margin-top: 3px;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}
.opt_wrp .prd_optns
{
    display: block;
}
.options
{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    padding: 4px;
    transition: all ease 0.2s;
}
.options:hover
{
    background-color: rgba(62, 78, 86, 0.42);
    transition: all ease 0.2s;
}
.hd_lft_wrap
{
    width: 50%;
    float: left;
}
.hd_rght_wrap
{
    width: 50%;
    float: right;
    text-align: right;
}
.prd_wrp_2
{
    width: 97px;
}
.dtpckr_wrp
{
    display: inline-block;
    width: 90px;
    background-color: #656d70;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}
.dtpckr_wrp input
{
    width: 89%;
    border: 0px solid;
    background-color: transparent;
    color: white;
    font-size: 12px !important;
    padding-left: 11%;
}
::-webkit-input-placeholder {
    color: white;
}


.sb_hd:nth-child(6) .tog_arrow
{
    right: 10px;
}
.sb_hd:nth-child(7) .tog_arrow {
    right: 10px;
}


.panel-heading
{
    padding-top: 7px;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.15) !important;
    position: relative;
}
.mob_cards
{
    display: none;
}
.panel-default
{
    border-color: transparent
}
.panel-default
{
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
.panel-body {
    padding: 0px !important; 
    width: 80%;
    margin: 0 auto;
}
.panel-heading:before {
    /*content: '';
    position: absolute;
    height: 28px;
    width: 3px;
    background-color: red;
    top: 0;*/
}
.panel-default .panel-heading
{
    background-color:white;
}
.collapse.in
{
    background-color: #f7f7f7;
    padding-top: 25px;
}
.list-group-item
{
    padding: 0px;
    margin-bottom: -1px;
     background-color: transparent; 
     border: 0px solid; 
    
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top:0px solid;
}

.panel-title .sb_hd:nth-child(1)
{
    position: relative
}
.sb_lft_line_sell
{
    /*content: '';*/
    position: absolute;
    height: 28px;
    width: 3px;
    background-color: orange;
    top: -5px;
    left: 0;
}
.resp_btn
{
    display: none;
}

.sb_lft_line_buy
{
    /*content: '';*/
    position: absolute;
    height: 28px;
    width: 3px;
    background-color: green;
    top: -5px;
    left: 0;
}
.gd_tab_menu
{
    width: 80%;
    margin: 0 auto;
}

.gd_tab_menu ul {
    list-style: none;
    padding: 1% 0%;
    padding-bottom: 0%;
    margin-bottom: 0px !important;
}
.gd_tab_menu ul li {
    display: inline-block;
    vertical-align: top;
    padding: 6px 9px;
    font-size: 13px;
    /*width: 10%;*/
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: white;
}
.gd_tab_menu ul li:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0px;
    /*background: #ed145b;*/
    /*-webkit-transition: 0.4s ease all;*/
    /*-moz-transition: 0.4s ease all;*/
    /*-ms-transition: 0.4s ease all;*/
    /*-o-transition: 0.4s ease all;*/
    /*transition: 0.4s ease all;*/
}
.gd_tab_menu ul li:hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 25px;
    /*background: #ed145b;*/
    /*-webkit-transition: 0.5s ease all;*/
    /*-moz-transition: 0.5s ease all;*/
    /*-ms-transition: 0.5s ease all;*/
    /*-o-transition: 0.5s ease all;*/
    /*transition: 0.5s ease all;*/
}

.transfer_view
{
    padding-top: 7px;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.15) !important;
    position: relative;
}
.rght_li
{
    float: right;
}
.legends
{
    display: inline-block;
    margin-left: 20px;
}
.leg_buy
{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    vertical-align: inherit;
    margin-right: 1px;
}
.leg_sell
{
    width: 10px;
    height: 10px;
    background-color: #ffa500;
    border-radius: 50%;
    display: inline-block;
    vertical-align: inherit;
    margin-right: 1px;
}

@media only screen and (max-width:1265px) {
    .sb_hd:nth-child(6) .tog_arrow {
        right: -41%;
    }
    .tog_arrow
    {
        right: 51%;
    }
}


@media only screen and (max-width:1183px)
{
    .sb_hd:nth-child(1)
    {
        padding-left: 1%;
    }
    .tog_row .sb_hd:nth-child(1)
    {
        margin-left: 1.1%;
    }
    .sb_hd:nth-child(6) .tog_arrow
    {
       right:-42%
    }
    .sb_hd_wrp
    {
        width: 95%;
    }
    .gd_wrap
    {
        width: 95%;
    }
    .gd_tab_menu
    {
        width: 95%;
    }
    .transfer_view
    {
        width: 95%;
    }
    .panel-heading
    {
        width: 95%;
    }
    .panel-body
    {
        width: 95%;
    }
    .tog_row .sb_hd:nth-child(1)
    {
        width: 24%;
    }
    .accordion-group__accordion-heading
    {
        width: 95%;
    }
    .accordion-group__accordion-content
    {
        width: 95%;
    }
    .hd_lft_wrap
    {
        width: 48%;
    }
    .hd_rght_wrap
    {
        width: 52%;
    }
    .prd_all_wrp
    {
        width: 92px;
    }
    .lft_2 {
        margin-left: 25px;
    }
    .prd_all_bt {
        right: -15px;
        width: 11px;
    }

}

@media only screen and (max-width:999px)
{
    .tog_arrow {
        right: 37%;
    }
    .sb_hd:nth-child(1)
    {
        padding-left: 1%;
        padding-right: 0.5%;
        width: 25%;
    }
    .tog_row .sb_hd:nth-child(1)
    {
        margin-left: 0.5%;
    }
    .sb_hd:nth-child(6) .tog_arrow
    {
        right:7%
    }
    .sb_hd_wrp
    {
        width: 98%;
    }
    .panel-heading
    {
        width: 98%;
    }
    .transfer_view {
        width: 98%;
    }
    .accordion-group__accordion-heading
    {
        width: 98%;
    }
    .accordion-group__accordion-content
    {
        width: 98%;
    }
    .hd_lft_wrap
    {
        width: 48%;
    }
    .hd_rght_wrap
    {
        width: 52%;
    }
    .prd_all_wrp
    {
        width: 92px;
    }
    .lft_2 {
        margin-left: 25px;
    }
    .prd_all_bt {
        right: -15px;
        width: 11px;
    }
    .sb_hd:nth-child(2)
    {
        width: 10%;
    }
    .sb_hd:nth-child(4) {
        width: 10%;
    }
    .sb_hd:nth-child(7) .tog_arrow {
        right: -13px;
    }

}
@media only screen and (max-width:758px)
{
    .tbl_wrp
    {
        width: 100%;
        overflow-x:scroll;
    }
    .resp_btn
    {
        display: block;
        position: relative;
        width: 95%;
        margin: 0 auto;
        padding-top: 14px;
        padding-bottom: 10px;
    }
    .resp_filt
    {
        display: inline-block;
        color: white;
        font-size: 12px;
        padding: 1% 6%;
        float: left;
        background-color: #546066;
        border-radius: 3px;
    }
    .resp_disp
    {
        display: inline-block;
        color: white;
        font-size: 12px;
        padding: 1% 6%;
        float: right;
        background-color: #546066;
        border-radius: 3px; position: relative;
    }
    .gd_wrap
    {
        display: none;
        position: fixed;
        background-color: #3e4e56;
        z-index: 2;
        top: 14px;
        left: 2%;
        width: 295px;
        box-shadow: 0px 0px 18px 0px rgba(130, 130, 130, 0.72);
        border-radius: 2px;
        padding: 3%;
    }
    .gd_wrap.act
    {
        display: block;
    }
    .hd_lft_wrap {
        width: 100%;
    }
    .lft_wrp_1
    {
        width: 80%;
        padding: 2%;
    }
    .lft_2
    {
        margin-left: 0px;
    }
    .pr_nm
    {
        width: 81px;
    }
    .hd_rght_wrap
    {
        width: 100%;
        text-align: left;
    }
    .display_filt
    {
        position: fixed;
        right: 3%;
        background-color: white;
        width: 50%;
        z-index: 2;
        padding: 5%;
        box-shadow: 0px 0px 18px 0px rgba(130, 130, 130, 0.72);
        border-radius: 2px;
        display: none;
    }
    .display_filt.act
    {
        display: block;
    }

    .filt_chck
    {
        display: inline-block;
        height: 12px;
        width: 12px;
        border: 1px solid #757575;
        margin-right: 10px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .filt_chck.act
    {
        background-image: url(../img/Layer%205.png);
    }
    .filt_ico
    {
        width: 13px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
    }

    .filt_row
    {
        padding-top: 4%;
        padding-bottom: 4%;
        font-size: 12px;
    }
}

@media only screen and (max-width:715px)
{
    .sb_hd_wrp {
        width: 95%;
    }
    .panel-heading {
        width: 95%;
    }
    .mob_cards
    {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.43);
        z-index: 2;
        display: none;
    }
    .mob_cards.act
    {
        display: block;
    }
    .mob_card_wrap
    {
        width: 95%;
        height: auto;
        margin: 0 auto;
        background-color: white;
        padding: 3% 0%;
        border-radius: 2px;
        margin-top: 10%;
        box-shadow: 0px 0px 12px 0px #9e9e9e;
        position: relative;
    }
    .clos_mob
    {
        width: 14px;
        position: absolute;
        right: 16px;
        top: 8px;
        cursor: pointer;
    }
    .card_blck_head
    {
        line-height: 23px;
        border-left: 2px solid red;
        padding-left: 1%;
    }
    .in_block_table table
    {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tr_tab th
    {
        font-size: 12px;
        color: #a8a8a8;
        margin-bottom: 10px;
    }
    tr{
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    tr th,td
    {
        -webkit-flex: 1;  /* Safari 6.1+ */
        -ms-flex: 1;  /* IE 10 */
        flex: 1;
    }
    .wht_wrp
    {
        padding: 0% 4%;
    }
    .ash_wrp_tbl table
    {
        width: 100%;
    }
    .ash_wrp
    {
        background-color: #e6e6e6;
        padding: 3% 4%;
        max-height: 200px;
        overflow: hidden;
        overflow-y: scroll;

    }
    .ash_tab tr td
    {
        border-left: 1px solid #c9c9c9;
        padding-left: 1%;
    }
    .ash_thead
    {
        color: #9c9c9c;
        border-left: 0px solid !important;
        font-size: 12px;
    }
    .sb_hd:nth-child(1)
    {
        display: none;
    }
    .sb_hd:nth-child(2) {
        width: 14%;
    }
    .sb_hd:nth-child(3) {
        width: 17%;
    }
    .sb_hd:nth-child(4) {
        width: 14%;
    }
    .sb_hd:nth-child(5) {
        width: 17%;
    }
    .sb_hd:nth-child(6) {
        width: 18%;
    }
    .sb_hd:nth-child(7) {
        width: 16%;
    }
    .collapse.in
    {
        display: none !important;
        height: 0px !important;
        opacity: 0;
    }
}
@media only screen and (max-width:639px)
{
    .sb_hd:nth-child(6)
    {
        display: none;
    }
    .sb_hd:nth-child(2) {
        width: 16%;
    }
    .sb_hd:nth-child(3) {
        width: 20%;
    }
    .sb_hd:nth-child(4) {
        width: 18%;
    }
    .sb_hd:nth-child(5) {
        width: 20%;
    }
    .sb_hd:nth-child(4) {
        width: 20%;
    }
}
@media only screen and (max-width:516px)
{
    .sb_hd:nth-child(7) {
        display: none;
    }
    .sb_hd:nth-child(2) {
        width: 23%;
    }
    .sb_hd:nth-child(3) {
        width: 23%;
    }
    .sb_hd:nth-child(4) {
        width: 23%;
    }
    .sb_hd:nth-child(5) {
        width: 24%;
    }
}
@media only screen and (max-width:383px)
{
    .sb_hd:nth-child(4)
    {
        display: none;
    }
    .sb_hd:nth-child(2)
    {
        width: 32%;
    }
    .sb_hd:nth-child(3) {
        width: 32%;
    }
    .sb_hd:nth-child(5) {
        width: 32%;
    }
}
@media only screen and (max-width:355px) {
    .datepickers-container {
        left: -50px;
    }
    .gd_tab_menu ul li
    {
        padding: 6px 6px;
    }
    .legends
    {
        margin-left: 10px;
    }
}